/* Browser Reset ---------------------------------------------- */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
}
 body {
   line-height: 1;
}
 ol, ul {
   list-style: none;
}
 blockquote, q {
   quotes: none;
}
 blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none;
}
 table {
   border-collapse: collapse;
   border-spacing: 0;
}
a {
	color: inherit;
	text-decoration: none;
}

/* ------------------------------------------ */


body {
	background-color: #f9f9f9;
	font-family: "Avenir";
	color: #535353;
}

ul {
	background-color: #f9f9f9;
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
	position: fixed;
	width: 100vw;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.20);
	z-index: 99;
}

ul li {
	background-color: #f9f9f9;
	padding: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 10px solid #f9f9f9;
	line-height: 13px;
}

li.active {
background: linear-gradient(to bottom right, #eec7a9, #cd8e85, #9d8783);
color: white;

}

li.super {
	font-weight: 800;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.45);
}

form {
  display: flex;
  width: 100vw;
  height: 100vh;
}



fieldset {
	margin-top: 70px;
	width: 100vw;
	padding: 20px;
}


.box {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	height: 70vh;
	width: 100%;
}


legend, h1 {
	font-size: 2rem;
	line-height: 1.3em;
	max-width: 85vw;
	font-weight: 800;
	margin-bottom: 20px;
}

p {
	line-height: 1.5rem;
	margin-bottom: 25px;
	max-width: 80vw;
}




textarea, input {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    font-size: 1rem;
    font-family: "Avenir";
    color: #535353;
}

textarea {
    height: 130px;
    width: 88%;
}

input[type="text"] {
	width: 80%;
	margin-bottom: 20px;
}


input:focus, textarea:focus {
	outline: none;
}


.checkbox:last-of-type {
	margin-bottom: 20px;
}


input[type="checkbox"] {
	transform: scale(0.5);
	vertical-align: middle;
}




.label {
	display: none;
}

.display {
	position: fixed;
	bottom: 100px;
	right: 50px;
}




/* ------------------------------------------ 

			Tijdsduur

 ------------------------------------------ */

#question4 p {
	width: 100%;
}

#question4 textarea {
	height: 50px;
}

.gone {
	visibility: hidden;
}

.tags {
	display: flex;
	flex-wrap: wrap;
}

span {
	background-color: white;
	display: inline;
	padding: 10px;
	margin: 0 10px 10px 0;
	max-width: 30%;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.10);
}

span span {
	font-size: 1.5rem;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	display: inline;
}



/* ------------------------------------------ 

			Tijdsduur

 ------------------------------------------ */


#question5 .tags {
	justify-content: center;
	text-align: center;
}




#question5 p {
	margin-bottom: 0;
	width: 100%;
	font-size: 1rem;
	text-align: center;
	padding-bottom: 0;
}


#question5 span {
	font-size: 3rem;
	padding: 10px 25px;
	max-width: none;
	width: 50px;
	display: inline;
	margin: 10px;
}

#question5 .checkbox {
	display: block;
	margin: 0 auto;
	max-width: 150px;
}

.arrows {
	width: 70%;
	display: flex;
	-webkit-justify-content: space-around;
	margin: 10px;
}

.arrows img {
	width: 30px;
	height: 100%;
}


/* ------------------------------------------ 

			Oefening

 ------------------------------------------ */


.cbtext, .cbvideo, .cbaudio, .cbimage {
	display: none;
}

.show {
	display: block;
}

.cbvideo a {
	background-color: grey;
	padding: 15px;
	margin-bottom: 20px;
	display: block;
	width: 150px;
	color: white;
}

.cbvideo p, .cbaudio p {
	margin-bottom: 0;
}

.addimage {
	border: 1px dashed rgba(0, 0, 0, 0.69);
	font-size: 2rem;
	display: inline-block;
	text-align: center;
	padding: 10px 30px;
}

.addimage:last-of-type {
	margin-bottom: 100px;
}

.upload {
	width: 15px;
	vertical-align: middle;
	margin-left: 10px;
	fill: white;
}




/* ------------------------------------------ 

			Trigger

 ------------------------------------------ */

.triggertext {
	display: none;
}

.show {
	display: block;
}

.radio {
	display: flex;
	flex-wrap: wrap;
}

.radio textarea {
	height: 60px;
	width: 75vw;
}

input[type="radio"] {
	transform: scale(0.5);
	vertical-align: middle;
}

input[type="radio"] + label {
	vertical-align: middle;
	margin: 15px 20px 0 0;
}

/* ------------------------------------------ 

			Footer

 ------------------------------------------ */

footer.backnext {
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	position: fixed;
	bottom: 0;
	width: 90%;
	background-color: #f9f9f9;
	padding: 20px;
	margin-left: -20px;
}

footer.backnext a {
	background-color: white;
	padding: 10px 20px;
	border-radius: 15%;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.10);
	border: 1px solid rgba(0, 0, 0, 0.2);
}


.final footer.backnext {
	justify-content: center;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.20);
}



/* ------------------------------------------ 

			Final

 ------------------------------------------ */
 
 

.final {
	margin: 20px;
}

.final p {
	max-width: none;
}

.final p:first-of-type {
	text-align: center;
}

.final p:last-of-type {
	margin-bottom: 125px;
}

.final h1 {
	display: inline;
	margin-right: 10px;
}

.final h1 .pencil {
	width: 25px;
}

.final .beschrijving {
	margin-top: 8px;
	display: inline-block;
	font-style: italic;
}

.final figure img {
	width: 100%;
}

.final figure {
	margin-bottom: 30px;
}

.final figure figcaption {
	text-align: center;
	margin-top: 5px;
	font-style: italic;
}


.final .backnext p {
	margin-bottom: 0;
}

.final .backnext a {
	margin-left: 10px;
}

.final .tags {
	margin-bottom: 30px;
}

.final .tags span {
	margin-right: 15px;
}

.final .tags span:last-of-type span {
	margin-right: 0;
}

.final .trigger {
	margin-bottom: 5px;
	font-style: italic;
}

.final iframe {
	width: 100%;
	min-height: 200px
}

.overlay {
	position: absolute;
	width: 40px;
	right: 20px;;
}

.overlay .delete, .overlay .delete1, .overlay .delete2, .overlay .delete3 {
	width: 20px;
	padding: 10px;
	background-color: rgba(250, 250, 250, 0.69);
	position: relativ;
	right: 0;
	margin-bottom: 10px;
}



h2 {
	font-weight: 800;
	line-height: 2rem;
	display: inline;
	margin-right: 10px;
	font-size: 1.1rem;
}

.pencil {
	width: 15px;
	display: inline;
}

figure figcaption img.pencil {
	width: 15px;
	display: inline;
	margin-left: 5px;
}

.final .addimage {
	display: block;
	margin: 0 auto 30px auto;
	padding: 20px 30px;
}

.hide {
	display: none;
}


/* ------------------------------------------ 

			Done

 ------------------------------------------ */
 
 .done {
	 margin: 40px 20px 20px 20px;
 }
 
 .done img {
	 width: 200px;
	 margin: 50px auto;
	 display: block;
 }
 
 .done h1 {
	 text-align: center;
 }
 
 .done p {
	 max-width: none;
 }
